<html>

    <body>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="assets/highcharts.js"></script>
        <script src="assets/data.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>

    
         <div id='title'>
                <h1>Energy Springfield</h1>
        </div>
        <div style="width: 100%"> 
            <div id='container'>
            </div>
            <div id='pie_legend'>
                <div id='date_time'></div> 
                <table id="legend">
                    <tr>
                    
                    </tr>
                </table>
                 <table id="loads">
                    <tr>
                    
                    </tr>
                </table>
                <div id='centered'>
                    <div id='total_div'></div> 
                </div>   
            </div>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>